<div class="board_header">

  <div class="board_h_image">
  </div>
  <div class="board_h_main">
  </div>

</div>
<div class="wrapper">
  <%= render "shared/side" %>
  <div class="message">
    <%= render "message_area" %>
  </div>
</div>