.header {
  width: 100vw;
  height: 15vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-left: 40px;
}
.title_name {
  font-size: 30px;
  color: #1574FF;
  text-decoration: none;
}

.header_menu {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.sign_up {
  font-size: 25px;
  color: #1574FF;
  text-decoration: none;
}

.log_in {
  font-size: 25px;
  color: #1574FF;
  text-decoration: none;
  margin-right: 50px;
}

.log_out_btn {
  font-size: 25px;
  color: #1574FF;
  text-decoration: none;
}

.search {
  margin-right: 50px;
}

.mypage {
  margin-right: 50px;
}
.user_name_btn {
  font-size: 25px;
  color: #1574FF;
  text-decoration: none;
}

.new_board {
  margin-right: 50px;
}

.new-board-btn {
  font-size: 25px;
  color: #1574FF;
  text-decoration: none;
}


/* 掲示板ページ*/

.board_header {
  padding: 0 40px;
  width: 100vw;
  height: 15vh;
  background-color: #FFFFFF;
  display: flex;
}

.board_h_image {
  width: 30vw;
  height: 15vh;
  display: flex;
  justify-content: center;
}

.board_h_main {
  width: calc(100vw - 30vw);
  height: 15vh;
}

.board_h_title {
  width: 100%;
  height: 35%;
  margin: 1px;
  font-size: 30px;
  display: flex;
  align-items: center;

}
.board_h_content {
  width: 100%;
  height: 40%;
  display: flex;
}

.board_content_left {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.board_content_right {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
}


.boaed_h_sub {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
}

.board_h_category {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.boaed_h_adm {
  width: 25%;
  height: 100%;
  padding-left: 100px;
  display: flex;
  align-items: center;
}