.outer {
  display: flex;
}

.main_right {
  background-color: darkgrey;
}

.board_list {
  height: calc(100vh - 15vh);
  padding: 46px 40px 0;
  overflow: scroll;
}

.boards {
  margin: 10px 0 0 0;
}

.board_main {
  display: flex;
  border-bottom: 1px solid black;
}

.board_right {
  width: calc(100vw - 200px);
  padding: 10px;
  padding-top: 20px;
}

.board_sub {
  color: #434a54;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.board_title {
  color: black;
  font-size: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
}


/* 掲示板ページ */

.wrapper {
  display: flex;
}
.board_header {
  width: 100vw;
  height: 15vh;
  background-color: black;
}

.message {
  background-color: #1574FF;
  width: calc(100vw - 200px);
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 15vh - 70px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message_list {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.form {
  background-color: black;
  height: 70px;
  padding: 10px 20px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}