.outer {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.main {
  width: 100vw;
  height: 85vh;
  display: flex;
}

.main_right {
  width: 85vw;
  height: 100%;
  background-color: #1574FF;
}