.outer {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
}

.main {
  width: 100vw;
  height: 85vh;
  display: flex;
}

.main_right {
  width: 85vw;
  height: 100%;
  background-color: #1574FF;
  margin-right: 10px;
}

.list_top {
  width: 100%;
  height: 10%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 20px;
  color: #1574FF;
}

.board_list {
  width: 100%;
  height: 90%;
  background-color: #1574FF;
  overflow: scroll;
}

.board {
  width: 100%;
  height: 30%;
  margin: 10px;
  border-bottom: 1px solid black;
  display: flex;
}

.board_image {
  width: 15%;
  height: 90%;
  margin: 10px;
  background-color: #FFFFFF;
}

.board_main {
  width: 85%;
  height: 90%;
  margin: 10px;
  background-color: #FFFFFF;
}

.board_title {
  width: 100%;
  height: 70%;
  border-bottom: 1px solid black;
  background-color: gray;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.board_sub {
  width: 100%;
  height: 30%;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_text {
  font-size: 50px;
  color: black;
}

.sub_text {
  padding: 0 30px;
  color: black;
}